/* 

*/

#container2 {
  position: relative;
}

video, canvas, iframe, jwplayer {
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  -border: 1px solid red;
}
video, iframe, jwplayer {
  height: 100%;
  position: absolute;
}


.bs-example{
  margin: 5px;
}

/*
  div.scroll {
  width: 100%;
  height: 300px;
  overflow: scroll;
  }
  */

.fixed{
  -margin: 5px;
  position: fixed;
  z-index: 100;
  background-color: #000000;
  -top: 42px;
}

div.scroll2{
  -width: 100%;
  height: 300px;
  overflow: scroll;
}
/*
.panel-heading {
  padding: 2px 5px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
*/
.between-space {
  -padding-bottom: 10px;
}

.inner2{
  padding-right: 0px;
}

.panel2 {
  margin-bottom: 5px;
  -margin-bottom: 20px;
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
/*
.panel-title a{
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}
*/
.between{
  -padding-bottom: 5px;
  padding-bottom: 10px;
}

/* Add Nov/19/14 */
.header-unit {
  height: 340px;
  /* border: 2px solid #F4F4F4; */
  border-right: none;
  border-left: none;
  position: relative;
  padding: 20px;
  background-color: black;
}
#video-container {
  position: absolute;
}
#video-container {
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
}
video {
  position:absolute;
  z-index:0;
}
video.fillWidth {
  width: 100%;
}

/* Add Nov/20/14 */
.quiz-area {
  -height: 700px;
  -height: 500px;
  height: 620px;
  overflow-y: auto;
  overflow-x: hidden;
}

.left-area {
  margin-left: 5px;
}

.left-right-area {
  padding-left: 5px;
  padding-right: 5px;
}

.my-column-left {
  padding-left: 25px;
  padding-right: 5px;
}

.my-column-right {
  padding-left: 5px;
  -padding-right: 15px;
  padding-right: 35px;
}

.my-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.bg-white-only {
  -background-color: #E7E7E7;
}

.memo-area {
  -height: 400px;
  -overflow-y: auto;
  -overflow-x: hidden;
}


iframe {
  position:absolute;
  z-index:0;
}

iframe.fillWidth {
  width: 100%;
  height: 100%;
}


jwplayer {
  position:absolute;
  z-index:0;
}

jwplayer.fillWidth {
  width: 100%;
  height: 100%;
}


.no-space {
  word-wrap:break-word;
}

/*
.btn:focus {
  background-color: red;
}
*/

.panel-title a{
  display: block;
  padding: 4px 4px;
  margin: -10px -15px;
}

.panel-body {
  padding: 5px;
}

.panel-group {
  margin-bottom: 0px;
}
